.app__title {
    margin-bottom: 70px;
    margin-top: 50px;
    max-width: 500px;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
   
    }

    @media screen and (max-width: 685px) {
      .app__title {
         font-weight: 700;
         font-size: 52px;
         line-height: 68px;
         margin-bottom: 50px;
    margin-top: 50px;
      }
  }
    
  @media screen and (max-width: 420px) {
    .app__title {
      font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 40px;
    margin-top: 40px;
    }
  }