.form__chenge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100%;
 
}

@media screen and (max-width: 900px) {
  .form__chenge {
      margin-bottom: 30px;
  }
}

@media screen and (max-width: 430px) {
  .form__chenge {
      width: 76vw;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
  }
}