

.form__chenge {
    min-width: 630px;
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 685px) {
    .form__chenge {
        margin-left: -4%;
      width: 250px;
    }
}
  
@media screen and (max-width: 490px) {
    .form__chenge {
        margin-left: -10%;
    width: 250px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 420px) {
    .form__chenge {
        margin-left: 0;
        width: 230px;
    
  }
}
