.button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('./image/icons8-добавить-50.png');
}

@media screen and (max-width: 685px) {
    .button {
        width: 40px;
        height: 40px;
        
    }
}
  
@media screen and (max-width: 429px) {
    .button {
        width: 30px;
        height: 30px;
        margin-left: 0;
        margin-right: 0;
        
  }
}

@media screen and (max-width: 360px) {
    .button {
        width: 20px;
        height: 20px;
  }
  }