.input {
  
    margin: 0;
    margin-right: 80px;
    padding: 0;
    border: none;
    text-align: center ;
    word-wrap: break-word;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
    padding-left: 50px;
    width: 37.0625vw;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    border-radius: 20px;
    background-color: rgb(60, 61, 61);
    border:  solid 4px rgb(60, 61, 61);
  }

  @media screen and (max-width: 685px) {
    .input {
      width: 38.0625vw;
      margin-right: 50px;
      padding-right: 20px;
      font-size: 20px;
    line-height: 25px;
      text-align: start ;
    }
  }

  
@media screen and (max-width: 485px) {
    .input {
      width: 39.0625vw;
      font-size: 15px;
      line-height: 20px;
  }
}

@media screen and (max-width: 431px) {
  .input {
    width: 38.0625vw;
    margin-right: 60px;
    margin-left: -2px;
}
}

@media screen and (max-width: 419px) {
  .input {
    width: 34.0625vw;
    margin-right: 60px;
    margin-left: -2px;
    padding-left: 33px;
    padding-right: 33px;
    
}
}


@media screen and (max-width: 400px) {
  .input {
    width: 32.0625vw;
    font-size: 12px;
    line-height: 15px;
}
}

@media screen and (max-width: 360px) {
  .input {
    width: 32.0625vw;
    margin-left: -10px;
  }
}

@media screen and (max-width: 315px) {
  .input {
    margin-left: -14px;
  }
}