.post__non {
    margin-top: 50px;
    max-width: 500px;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    min-height: 700px;

}

@media screen and (max-width: 600px) {
    .post__non {
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        max-width: 300px;
    }
}