.task__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-bottom: 50px;



}

@media screen and (max-width: 900px) {
    .task__form {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 430px) {
    .task__form {
        width: 76vw;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}