.task__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  max-width: 1024px;


}

.text {
  margin: 0;
  max-width: 39.0625vw;
}

.task__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  text-align: start;
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 80px;
  padding-left: 30px;
  margin-right: 20px;
  width: 39.0625vw;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border-radius: 20px;
  background-color: rgb(60, 61, 61);
  border:  solid 4px rgb(60, 61, 61);
  
}

@media screen and (max-width: 685px) {
  .task__text {
    padding-right: 40px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .task__text {
    padding-right: 30px;
    padding-left: 15px;
    font-size: 15px;
    line-height: 20px;
  }
}


.task__button-conteiner {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
}

@media screen and (max-width: 685px) {
  .task__button-conteiner {
    gap: 5px;
  }
}



.task__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 685px) {
  .task__button {
    width: 20px;
    height: 20px;
  }
}

.task__button:hover {
  scale: 1.1;
}

